@charset "UTF-8";
@font-face {
    font-family: 'KeepCalm';
    src: url(/fonte/KeepCalm.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


    
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1:#6F8F72;
    --cor2:#6CB275;
    --cor3:#016735;
    --cor4:#08210C; 
}

#cabecalho {
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgba(128, 128, 128, 0.267);
}

#menu {
    display: flex;
    gap: .5rem;
    list-style: none;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

@media (max-width: 600px){ 
    #btn-mobile {
        display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        transition: .6s;
        top: 70px;
        right: 0px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        background-color: rgba(128, 128, 128, 0.281);

    }

    #navegacao.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #016735;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navegacao.active #hamburguer {
        border-top-color: transparent;
    }
    
    #navegacao.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #navegacao.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px
    }
}





